/*  your css code here. If applicable */
#container{
	margin:20px;

}
#container::after {
  content: "After Content";
 color:red;
	font-size:20px;
	
}
#container::before {
  content: "After Content";
 color:red;
	font-size:20px;
	
}